#include "resource.h"

// Icon定義
IDR_ICON ICON DISCARDABLE "QuickEdit.ico"

// メニュー定義
IDR_MENU MENU DISCARDABLE
BEGIN
	POPUP "ファイル(&F)"
	BEGIN
		MENUITEM "ファイルとして実行\te",			IDM_FILE_EXEC
		MENUITEM "ClipBoard変更時のActivate\ta",	IDM_FILE_AUTO
		MENUITEM "DropFile時のNWドライブ名展開",	IDM_FILE_NWDRV
		MENUITEM SEPARATOR
		MENUITEM "終了\tQ",							IDM_FILE_EXIT
	END
	POPUP "編集(&E)"
	BEGIN
		MENUITEM "元に戻す\tCtrl+Z",				IDM_EDIT_UNDO
		MENUITEM SEPARATOR
		POPUP "空白/タブ削除(trim)"
		BEGIN
			MENUITEM "行頭+行末('>',全角含む)\tt",	IDM_EDIT_TRIM_SUIT
			MENUITEM "行頭+行末\tTb",				IDM_EDIT_TRIM_BOTH
			MENUITEM "行頭+行末(全角含む)\tTz",		IDM_EDIT_TRIM_ZEN
			MENUITEM "行頭\tTh",					IDM_EDIT_TRIM_HEAD
			MENUITEM "行頭('>'含む)\tT>",			IDM_EDIT_TRIM_MAIL
			MENUITEM "行末\tTe",					IDM_EDIT_TRIM_TAIL
		END
		POPUP "インデント"
		BEGIN
			MENUITEM "行頭の空白増加\t+",			IDM_EDIT_IND_INC
			MENUITEM "行頭の空白減少\t-",			IDM_EDIT_IND_DEC
		END
		POPUP "全角・半角変換"
		BEGIN
			MENUITEM "全角変換\tz",					IDM_EDIT_ZEN
			MENUITEM "半角変換(カナ除く)\th",		IDM_EDIT_HAN_ASC
			MENUITEM "半角変換(カナ含む)\tH",		IDM_EDIT_HAN_ALL
		END
		POPUP "大文字・小文字変換"
		BEGIN
			MENUITEM "大文字変換\tu",				IDM_EDIT_UPPER
			MENUITEM "小文字変換\tl",				IDM_EDIT_LOWER
		END
		MENUITEM "行結合\tj",						IDM_EDIT_JOIN
		MENUITEM "編集開始\ti",						IDM_EDIT_EDIT_MODE
		POPUP "文字/表示/改行変更"
		BEGIN
			MENUITEM "括り文字変更\t\"",			IDM_EDIT_ADJ_QUOT
			MENUITEM "日付文字変更\td",				IDM_EDIT_ADJ_DATE
			MENUITEM "ツリー表示変更\ty",			IDM_EDIT_ADJ_TREE
			MENUITEM "改行変換(LF→CRLF)\tCr",		IDM_EDIT_ADJ_CRLF
			MENUITEM "改行変換(CRLF→LF)\tCl",		IDM_EDIT_ADJ_LF
		END
		POPUP "ソート"
		BEGIN
			MENUITEM "昇順(自然順)\tSa",			IDM_EDIT_SORT_ASC_N
			MENUITEM "降順(自然順)\tSd",			IDM_EDIT_SORT_DSC_N
			MENUITEM "昇順(コード順)\tSA",			IDM_EDIT_SORT_ASC
			MENUITEM "降順(コード順)\tSD",			IDM_EDIT_SORT_DSC
		END
		MENUITEM SEPARATOR
		POPUP "文字列置換"
		BEGIN
			MENUITEM "検索/置換指定...\tR",			IDM_EDIT_SUB
			MENUITEM "置換繰返し\tr",				IDM_EDIT_SUB_REP
		END
		POPUP "書式変換"
		BEGIN
			MENUITEM "書式変換指定...\tF",			IDM_EDIT_FMT
			MENUITEM "書式変換繰返し\tf",			IDM_EDIT_FMT_REP
		END
		MENUITEM "日時挿入...\tD",					IDM_EDIT_INS_DATE
		MENUITEM SEPARATOR
		POPUP "マクロ実行"
		BEGIN
			MENUITEM "マクロ実行指定...\tM",		IDM_EDIT_MCR
			MENUITEM "マクロ実行繰返し\tm",			IDM_EDIT_MCR_REP
		END
	END
	POPUP "ヘルプ(&H)"
	BEGIN
		MENUITEM "ヘルプ表示(&H)",					IDM_HELP_HELP
		MENUITEM "ホットキー設定(&K)...",			IDM_HELP_HOTKEY
		MENUITEM SEPARATOR
		MENUITEM "バージョン情報(&A)",				IDM_HELP_VERSION
	END
END

// Dialog1定義
IDD_DIALOG1 DIALOG DISCARDABLE 0, 0, 160, 80
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "バージョン情報"
FONT 11, "ＭＳ Ｐゴシック"
BEGIN
	ICON  "IDR_ICON",                            IDC_STATIC,   8, 10,  20, 20
	LTEXT "QuickEdit - ClipBoard内文字編集",     IDC_STATIC,  30, 10, 120, 10
	LTEXT "Version 0.0.0 (YYYY/MM/DD)",          IDC_VERSION, 30, 22, 120, 10
	LTEXT "---------------------------",         IDC_STATIC,  30, 34, 120, 5
	LTEXT "Copyright(C) 2016 Akihito Ueguri",    IDC_STATIC,  30, 42, 120, 10
	DEFPUSHBUTTON  "OK", IDOK, 110, 60, 40, 12, WS_GROUP
END

// Dialog2定義
IDD_DIALOG2 DIALOG DISCARDABLE 0, 0, 170, 60
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "置換パラメータ入力"
FONT 11, "ＭＳ Ｐゴシック"
BEGIN
	LTEXT "",			IDC_NOTE,   5,  5, 160, 12
	COMBOBOX			IDC_INPUT,  5, 20, 160, 60, CBS_DROPDOWN | CBS_AUTOHSCROLL | WS_VSCROLL | WS_TABSTOP
	DEFPUSHBUTTON  "実行",		IDOK,       80, 40, 40, 12 WS_GROUP
	PUSHBUTTON  "キャンセル",	IDCANCEL,  125, 40, 40, 12
END

// Dialog3定義
IDD_DIALOG3 DIALOG DISCARDABLE  0, 0, 127, 51
STYLE DS_MODALFRAME | DS_CENTER | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "ホットキー設定"
FONT 11, "ＭＳ Ｐゴシック"
BEGIN
	CONTROL			"HotKey", IDC_HOTKEY, "msctls_hotkey32",
					WS_BORDER | WS_TABSTOP, 7, 7, 112, 15
    DEFPUSHBUTTON   "OK", IDOK, 7, 30, 50, 14
    PUSHBUTTON      "キャンセル", IDCANCEL, 70, 30, 50, 14
END

// Dialog4定義
IDD_DIALOG4 DIALOG DISCARDABLE 0, 0, 160, 100
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "書式変換パラメータ入力"
FONT 11, "ＭＳ Ｐゴシック"
BEGIN
	LTEXT "種別：",		IDC_STATIC,  5,  7,  20, 12
	COMBOBOX			IDC_LIST,   25,  5, 130, 55, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
	LTEXT "書式：",		IDC_LABEL,  5, 22,  20, 12
	COMBOBOX			IDC_INPUT,  25, 20, 130, 60, CBS_DROPDOWN | CBS_AUTOHSCROLL | WS_VSCROLL | WS_TABSTOP
	LTEXT "(%1, %2, ...をカラムデータで置換え)", IDC_NOTE,   25, 33, 150, 12
	GROUPBOX "入力区切り文字", -1, 25, 47,  80, 25, BS_CENTER // SS_CENTER ではない
	AUTORADIOBUTTON "タブ",		IDC_RADIO1, 30, 57, 30, 12, WS_GROUP // 最初だけこのスタイルを付ける
	AUTORADIOBUTTON "カンマ",	IDC_RADIO2, 70, 57, 30, 12
	DEFPUSHBUTTON  "実行",		IDOK,       70, 80, 40, 12 WS_GROUP
	PUSHBUTTON  "キャンセル",	IDCANCEL,  115, 80, 40, 12
END

// Dialog5定義
IDD_DIALOG5 DIALOG DISCARDABLE 0, 0, 175, 122
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "マクロ設定"
FONT 11, "ＭＳ Ｐゴシック"
BEGIN
	LTEXT "名称：",	IDC_STATIC,  5,  7,  50, 12
	COMBOBOX		IDC_LIST,   25,  5, 145, 48, CBS_DROPDOWNLIST | CBS_AUTOHSCROLL | WS_VSCROLL | WS_TABSTOP
	EDITTEXT		IDC_NOTE,   25,  5, 145, 12, ES_LEFT | ES_AUTOHSCROLL
	LTEXT "内容：",	IDC_STATIC,  5, 22,  50, 12
	EDITTEXT		IDC_INPUT,  25, 20, 145, 60, ES_LEFT | ES_MULTILINE | ES_WANTRETURN | ES_AUTOVSCROLL | WS_VSCROLL
	PUSHBUTTON		"新規(&N)",		 IDNEW,     25,  85, 33, 12
	PUSHBUTTON		"取込(&I)",		 IDIMPORT,  62,  85, 33, 12
	PUSHBUTTON		"編集(&E)",		 IDEDIT,   100,  85, 33, 12
	PUSHBUTTON		"削除(&D)",		 IDDEL,    137,  85, 33, 12
	PUSHBUTTON		"登録(&R)",		 IDREG,     25, 102, 45, 12
	DEFPUSHBUTTON	"実行(&X)",		 IDEXC,     75, 102, 45, 12
	PUSHBUTTON		"キャンセル(&C)",IDCANCEL, 125, 102, 45, 12
END

// Dialog6定義
IDD_DIALOG6 DIALOG DISCARDABLE 0, 0, 175, 72
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "日時挿入設定"
FONT 11, "ＭＳ Ｐゴシック"
BEGIN
	LTEXT "設定形式：",	IDC_STATIC,  5,  7,  35, 12
	COMBOBOX			IDC_FORMAT, 40,  5, 120, 48, CBS_DROPDOWNLIST | CBS_AUTOHSCROLL | WS_VSCROLL | WS_TABSTOP
	LTEXT "日時：",		IDC_STATIC,  5, 24,  35, 12
	EDITTEXT			IDC_DATE,   40, 22,  45, 12, ES_CENTER | ES_AUTOHSCROLL
	EDITTEXT			IDC_STIME,  90, 22,  30, 12, ES_CENTER | ES_AUTOHSCROLL
	LTEXT "～",			IDC_STATIC,120, 24,  10, 12, ES_CENTER
	EDITTEXT			IDC_ETIME, 130, 22,  30, 12, ES_CENTER | ES_AUTOHSCROLL
	LTEXT "↑↓キーで年月日、時刻を変更",
						IDC_STATIC, 40, 36, 120, 12
	DEFPUSHBUTTON		"実行",		 IDOK,      75, 52, 45, 12, WS_GROUP
	PUSHBUTTON			"キャンセル",IDCANCEL, 125, 52, 45, 12
END

// Dialog0定義
IDD_DIALOG0 DIALOG DISCARDABLE 0, 0, 140, 68
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION ""
FONT 11, "ＭＳ Ｐゴシック"
BEGIN
	LTEXT		"",	IDC_NOTE,  5,  7, 130, 36, SS_LEFT | SS_NOPREFIX
	PUSHBUTTON	"",	IDBTN1,    5, 48,  40, 12
	PUSHBUTTON	"",	IDBTN2,   50, 48,  40, 12
	PUSHBUTTON	"",	IDBTN3,   95, 48,  40, 12
END
